<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Forms</title>
	
</head>
<body>


<form id="testform" method="post" action="/">
 
<p> <label>Username:</label> <input type="text" name="username"></p>
<p> <label>Parola:</label><input type="password" name="parola"></p>
<p><button type="submit" id="buton">Login </button> </p>
</form>


</body>
</html>
